#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  border: thin solid black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin: auto;
  width: 20rem;
  height: 30rem;
}
